{{- if and (eq "keycloak" .Values.auth.kind) (not .Values.ingress.enabled) -}}
{{- fail "Ingress must be enabled when Keycloak is enabled." -}}
{{- end }}

{{- if and .Values.ingress.enabled (not .Values.openshift.enabled) -}}
{{- $fullName := include "ontrack.fullname" . -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "ontrack.labels" . | nindent 4 }}
  annotations:
  {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.tls.enabled }}
  tls:
    - hosts:
        - {{ .Values.ingress.host }}
      secretName: "{{ .Values.ingress.host }}-tls"
  {{- end }}
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          # Keycloak
          {{- if and (eq "keycloak" .Values.auth.kind) .Values.auth.keycloak.service.ingressEnabled (not .Values.auth.keycloak.external.enabled) }}
          - path: "/{{ .Values.auth.keycloak.service.path }}"
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}-keycloak
                port:
                  number: {{ .Values.auth.keycloak.service.port }}
          {{- end }}
          # GraphQL API
          - path: "/graphql"
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}
                port:
                  number: {{ .Values.service.port }}
          # Hook API
          - path: "/hook"
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}
                port:
                  number: {{ .Values.service.port }}
          # Next UI
          - path: "/"
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}-ui
                port:
                  number: {{ .Values.ontrack.ui.service.port }}
{{- end }}
