{{- if and (eq "keycloak" .Values.auth.kind) (not .Values.auth.keycloak.external.enabled)}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "ontrack.fullname" . }}-keycloak-theme
binaryData:
  yontrack.tar.gz: {{ .Files.GetBytes "files/themes/yontrack.tar.gz" | toString | b64enc | quote }}
{{- end }}
