name: Release Charts

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Yontrack configuration
        id: yontrack-config
        uses: nemerosa/ontrack-github-actions-cli-config@v1.0.3
        env:
          YONTRACK_URL: ${{ vars.ONTRACK_URL }}
          YONTRACK_TOKEN: ${{ secrets.ONTRACK_TOKEN }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Preparing theme
        run: |
          cd charts/ontrack/files/themes
          tar vczf yontrack.tar.gz yontrack

      - name: Install Helm
        uses: azure/setup-helm@v3

      - name: Helm dependencies repositories
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add elastic https://helm.elastic.co

      - name: Linting
        run: |
          helm lint charts/ontrack

      - name: Image check
        run: |
          chmod +x scripts/check-images.sh
          ./scripts/check-images.sh

      - name: Packaging
        id: packaging
        run: |
          helm package charts/ontrack

      - name: Yontrack build
        if: ${{ steps.packaging.outcome != '' }}
        run: |
          yontrack validate --validation build --status ${{ steps.packaging.outcome == 'success' && 'PASSED' || 'FAILED' }}

      - name: Getting the previous release
        id: release
        if: ${{ steps.packaging.outcome != '' }}
        run: |
          LAST_RELEASE=$(yontrack build search --with-promotion RELEASE --count 1 --output json --accept-not-found | jq -r .DisplayName)
          echo "Last release: $LAST_RELEASE"
          CURRENT_RELEASE=$(cat charts/ontrack/Chart.yaml | yq -r .version)
          echo "Current release: $CURRENT_RELEASE"
          echo "lastRelease=$LAST_RELEASE" >> "$GITHUB_OUTPUT"
          echo "currentRelease=$CURRENT_RELEASE" >> "$GITHUB_OUTPUT"

      - name: Publishing in Docker Hub (OCI)
        id: publish
        if: ${{ steps.release.outcome == 'success' && steps.release.outputs.lastRelease != steps.release.outputs.currentRelease }}
        run: |
          helm registry login registry-1.docker.io \
            --username "${{ secrets.DOCKER_HUB_USERNAME }}" \
            --password "${{ secrets.DOCKER_HUB_TOKEN }}"
          helm push "$(ls yontrack-*.tgz)" oci://registry-1.docker.io/nemerosa

      - name: Changelog since last release
        id: changelog
        if: ${{ steps.publish.outcome == 'success' }}
        run: |
          yontrack build changelog semantic --from-promotion RELEASE --emojis > changelog.md
          

      - name: Yontrack release
        if: ${{ steps.publish.outcome != '' && steps.publish.outcome != 'skipped' }}
        run: |
          yontrack validate --validation release --status ${{ steps.publish.outcome == 'success' && 'PASSED' || 'FAILED' }}
