name: Release Charts

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Preparing theme
        run: |
          cd charts/ontrack/files/themes
          tar vczf yontrack.tar.gz yontrack

      - name: Install Helm
        uses: azure/setup-helm@v3

      - name: Helm dependencies repositories
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add elastic https://helm.elastic.co

      - name: Linting
        run: |
          helm lint charts/ontrack

      - name: Packaging
        run: |
          helm package charts/ontrack

#      - name: Publishing in Chart Museum
#        run: |
#          curl --data-binary "@$(ls yontrack-*.tgz)" \
#            --fail \
#            --user "${{ secrets.CHARTMUSEUM_USERNAME }}:${{ secrets.CHARTMUSEUM_PASSWORD }}"\
#            https://chartmuseum.nemerosa.net/api/charts

      - name: Publishing in Docker Hub (OCI)
        run: |
          helm registry login registry-1.docker.io \
            --username "${{ secrets.DOCKER_HUB_USERNAME }}" \
            --password "${{ secrets.DOCKER_HUB_TOKEN }}"
          helm push "$(ls yontrack-*.tgz)" oci://registry-1.docker.io/nemerosa
